<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label class="tabLabel">Mis rutinas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label class="tabLabel">Cronómetro</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="logo-youtube"></ion-icon>
      <ion-label class="tabLabel">Vídeos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
