.cardDetails{
    font-weight: bold;
}

.avatar{
    margin-left: 24px;
}

.nameLabel{
    margin-left: 10px;
    font-size: 17px;
    font-weight: bold;
}

.zpower{
    margin-right: -20px;
    font-size: 17px;
    font-weight: bold;
}
