<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      Vídeos motivacionales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-item lines = "none" style="margin-top: 25px;">
    <iframe width="100%" height="200px" src="https://www.youtube.com/embed/WJyONIH91J0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </ion-item>

<ion-item lines = "none" style="margin-top: 20px;">
  <iframe width="100%" height="200px" src="https://www.youtube.com/embed/1pDnuuHxCX0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ion-item>

<ion-item lines = "none" style="margin-top: 25px;">
  <iframe width="100%" height="200px" src="https://www.youtube.com/embed/VhZLhVylrWQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ion-item>

<ion-item lines = "none" style="margin-top: 25px;">
  <iframe width="100%" height="200px" src="https://www.youtube.com/embed/uw0q3IsVL-8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ion-item>

<ion-item lines = "none" style="margin-top: 25px;">
  <iframe width="100%" height="200px" src="https://www.youtube.com/embed/53wcLB_GLsE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ion-item>

</ion-content>
