<ion-header>
  <ion-toolbar>
    <ion-title class="title">Editar rutina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="tasks" (ngSubmit)="this.editRoutine()">
    <ion-item>
        <ion-input
        type="text" 
         formControlName="title"
         autocapitalize="true"
         placeholder="Título">
        </ion-input>
    </ion-item>

    <ion-item>
        <ion-textarea class="descriptionLabel"
         formControlName="description"
          placeholder="Descripción"
          autocapitalize="true"
          auto-grow="true">
        </ion-textarea>
    </ion-item>

    <ion-item>
      <ion-input 
      type="text" 
       formControlName="duration"
       autocapitalize="true"
       placeholder="Duración (en min)">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input 
      type="text" 
       formControlName="difficulty"
       autocapitalize="true"
       placeholder="Dificultad">
      </ion-input>
    </ion-item>

    <div style="text-align: right;">
      <ion-button  class="buttonType" expand="block" fill="outline" mode="ios" type="submit" [disabled]="!tasks.valid">
      Editar rutina
    </ion-button>

    <ion-button class="buttonType2" expand="block" fill="outline" mode="ios" (click)="this.closeEdit()">
      Salir
    </ion-button>

  </div>
  </form>
</ion-content>
