
.imgEdit{
    margin-top: 50px;
    height: 200px;
    width: 300px;
    margin-bottom: 50px;
}

.registerLabel{
    margin-top: 50px;
    text-align: center;
}

.buttonType{
    margin-top: 50px;
    --border-color:black;
    --color: black;
}

.passwordItem{
    margin-top: 30px;
}

.content-div{
    text-align: center;
}
