
.imgEdit{
    align-items: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    size: 10px;
}

.registerLabel{
    margin-top: 30px;
    text-align: center;
}

.buttonType{
    margin-top: 10px;
    --border-color:black;
    --color: black;
}

.loginItem{
    margin-top: 20px;
}

.passwordItem{
    margin-top: 30px;
}

.loginContent{
    text-align: center;
}