.loginContent{
    --ion-background-color: white !important;
}

.buttonType{
    float: right;
    margin-top: 20px;
    margin-right: 65px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(26, 26, 26); 
    height: 50px;
    --border-color:rgb(26, 26, 26);
}

.buttonType2{
    float: left;
    margin-top: 20px;
    margin-left: 65px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(199, 0, 0); 
    height: 50px;
    --border-color:rgb(199, 0, 0);
}


.loginItem{
    padding-left: 50px;
    padding-right: 50px;
}

.passwordItem{
    margin-top: 7px;
    padding-left: 50px;
    padding-right: 50px;
}

.confirmPasswordItem{
    margin-top: 7px;
    padding-left: 50px;
    padding-right: 50px;
}

.title{
    font-weight: bold;
}

.nameLabel{
    margin-top: -10px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.passwordLabel{
    margin-top: -10px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.confirmPasswordLabel{
    margin-top: -10px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.typing{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.infoRegister{
    margin-top: 20px;
    text-align: center;
    margin-top: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.registerLabel{
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.majinPower{
    margin-top: -40px;
    text-align: center;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

