<ion-header>
  <ion-toolbar style="height: 80px;">
    <img class="zwarriorsLogo" src="assets/zwarriors.png" >
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-list mode="ios" lines="full">
    <ion-item style="margin-top: 100px;" class="fontType" *ngFor="let User of this.fighterzlist;let i=index">
      <ion-label  slot="start" class="indexLabel">
        {{i+1}}.
      </ion-label>
        <ion-label slot="start" class="fighterNameLabel">
          {{User.loginName}}
        </ion-label>
        <ion-label slot ="end" class="fighterZpowerLabel">
          {{User.zpower}}
        </ion-label>
          <ion-avatar slot ="end" class="avatar" style="width: 55px; height: 55px;">
            <img src="assets/zpower.png">
          </ion-avatar>
     </ion-item>
  </ion-list>
</ion-content>
