<ion-header>
  <ion-toolbar style="height: 80px;">
    <img class="zwarriorsLogo" src="assets/zwarriorsrainbow.png" >
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-list mode="ios" lines="full">
    <ion-item class="fontType" *ngFor="let User of this.fighterzlist;let i=index">
      <ion-thumbnail slot="start">
        <ion-img style="height: 70px width: 70;" [src]="User.image"></ion-img>
      </ion-thumbnail>

      <p slot="start" class="indexLabel">
        {{i+1}}.
      </p>
        <p slot="start" class="fighterNameLabel">
          {{User.loginName}}
        </p>
        <p slot="end" class="fighterZpowerLabel">
          {{User.zpower}}
        </p>
          <ion-avatar slot ="end" class="avatar" style="width: 55px; height: 55px;">
            <img src="assets/zpower.png">
          </ion-avatar>
     </ion-item>
  </ion-list>
</ion-content>
